<body>
    <form action="/Credentials" method="post">
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="Old password" name="oldPass">
            <label for="floatingInput">Old Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="new Password" name="newPass">
            <label for="floatingPassword">New Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="new Password" name="conPass">
            <label for="floatingPassword">Confirm New Password</label>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

</body>