<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="#">
        <h1 class="#">404</h1>
        <h4 class="#">Oops! You're lost.</h4>
        <p class="#">The page you are looking for was not found.</p>
    </div>
</body>
</html>