{{#if message}}
<link href="/static/css/style.css" rel="stylesheet">
<div class="alert alert-danger" role="alert" id="fileErrMsg" style="margin:15px">Not Authorized</div>
{{else}}
<script type="text/javascript">
    function validateForm() {
        if (confPass()) {
            document.getElementById("formErr").innerHTML = ""
            return true;
        }
        document.getElementById("formErr").innerHTML = "Please fix the errors"
        document.getElementById("formErr").style.display = "block"
        return false;
    }
    function confPass() {
        let password = document.getElementById("password").value
        let confPassword = document.getElementById("confPassword").value
        let error = document.getElementById("passErr")
        if (password == confPassword) {
            error.style.display = "none"
            return true;
        }
        error.style.display = "block"
        return false;
    }
</script>
<!DOCTYPE html>
<html lang="en">

<head>
</head>
<body>
    <h1>Reset Password</h1>
    <form method="post" onsubmit="return validateForm()">
        <input id="user" name="user" value="{{user}}" hidden>
        <input id="token" name="token" value="{{token}}" hidden>
        <div class="#"><span class="#">
                <svg class="#">
                    <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                </svg></span>
            <input class="#" type="password" placeholder="Password" id="password" name="password">
        </div>
        <div class="#"><span class="#">
                <svg class="icon">
                    <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                </svg></span>
            <input class="#" type="password" placeholder="Confirm password" id="confPassword"
                name="confPassword" onblur="confPass()">
        </div>
        <div class="#" role="alert" id="passErr" style="margin:15px;display:none">Passwords dont match
        </div>
        <button class="#" type="submit">Submit</button>
    </form>
    <div class="alert alert-danger" role="alert" id="formErr" style="margin:15px;display:none"></div>
    {{#if msg}}
    <div style="color:red">{{msg}}</div>
    {{/if}}

    <!-- CoreUI and necessary plugins-->
    <script src="/static/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="/static/vendors/simplebar/js/simplebar.min.js"></script>

</body>

</html>
{{/if}}